:root {
    --top-bar-height: 50px;
    --status-bar-height: 70px;
    --left-nav-panel-width: 250px;
    --section-gap: 5px;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.layout {
    height: 100%;
    display: grid;
    grid-template-rows: var(--top-bar-height) auto var(--status-bar-height);
    grid-template-columns: var(--left-nav-panel-width) auto;
}

.main-section {
    margin-left: var(--section-gap);
    margin-top: var(--section-gap);
    border-radius: 5px;
}

.right-most {
    margin-right: var(--section-gap);
}

.bottom-most {
    margin-bottom: var(--section-gap);
}

.top-bar {
    display: flex;
    flex-direction: row;
    grid-row: 1;
    grid-column: 1 / span 2;
    background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
}

.left-nav-panel {
    grid-row: 2;
    grid-column: 1;
    background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
}

.nav-item {
    height: 30px;
}

.content {
    grid-row: 2;
    grid-column: 2;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.status-bar {
    grid-row: 3;
    grid-column: 1 / span 2;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

#drawer-button {
    justify-self: flex-start;
    align-self: center;
    margin-left: 10px;
}